@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  /**/
  .info
    &__content-wrapper
      padding:
        top: 56px
        left: 40px
        right: 45px
    h2
      margin: 0
      margin-bottom: 50px
      font-size: 30px
      line-height: 40px
      font-weight: 700
      color: $white
      text-transform: uppercase
    p
      font-size: 16px
      line-height: 32px
      margin-bottom: 40px
      color: #eeeeee
    a
      color: $white  


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  /**/
  .info
    h2
      margin-bottom: 50px
      font-size: 26px
      line-height: 32px
    p
      font-size: 16px
      line-height: 26px
      margin-bottom: 30px


/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  /**/
  ////HEADER////
  .main-navigation
    &__brand
      margin-right: 0
      margin-left: 30px
    &__wrapper
      //padding: 0
    &__items
      li
        height: 60px
        padding: 0
      li a
        padding: 20px 25px
        font-size: 20px
        text-align: center
    &__social
      text-align: center
      li
        border: 2px solid $white
        margin:
          top: 10px 
          right: 10px
          bottom: 18px
          left: 0
      li:last-child
        margin-right: 0
  ////HEADER END////

  ////TOP-SLIDER////
  .top-slider
    height: 400px
    &__content
      bottom: 10px
      right: 10%
      //left: 200px
      //right: 100px
      width: 50%
    &__content h2
      padding: 5px 10px
      margin: 0
      margin-bottom: 2px
      font-size: 20px
      line-height: 30px
  .top-slider__image-1,
  .top-slider__image-2
    height: 400px
  ////TOP-SLIDER END///

  ////FEATURES////
  .features
    padding-top: 60px
    @for $i from 1 through 6
      .features__item-#{$i}
         margin-bottom: 40px
  ////FEATURES END////

  ////TESTIMONIALS////
  .testimonials
    .item
      padding-top: 70px
      padding-bottom: 70px
      min-height: 400px
      &:before
        background-position: 0 -60px      
      &:after
        background-position: 0 -60px 
    .item-caption
      h3
        margin-top: 0
        margin-bottom: 44px
        color: #4f4f4f
      p
        margin-bottom: 43px
        font-size: 16px
        line-height: 22px
      .author
        font-size: 16px
        font-weight: bold
        color: #696767
    .carousel-indicators
      bottom: 40px
  ////TESTIMONIALS////

  .info
    &__image-wrapper
      height: 306px
    &__content-wrapper
      height: 306px
      padding: 36px 20px
    h2
      margin-bottom: 20px
      font-size: 20px
      line-height: 30px
    p
      font-size: 16px
      line-height: 32px
      margin-bottom: 40px





/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
  /**/
  .info
    &__image-wrapper
      height: 260px
    &__content-wrapper
      height: 260px
      padding: 20px 20px
    h2
      margin-bottom: 10px
      font-size: 24px
      line-height: 30px
    p
      font-size: 16px
      line-height: 20px
      margin-bottom: 20px

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
  /**/
  .info
    &__image-wrapper
      height: 260px
    &__content-wrapper
      height: 260px
      padding: 20px 20px
    h2
      margin-bottom: 10px
      font-size: 20px
      line-height: 30px
    p
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
  /**/

